<div class="container" fxLayout="row" fxLayoutGap="8px">
  <div class="spell-list" fxFlex="grow" *ngIf="tome.spells.length">
    <mat-accordion>
      <avr-spell-detail *ngFor="let spell of tome.spells" [spell]="spell"
                        (changed)="changed.emit()" (opened)="selectedSpell = spell; selected.emit(spell)"
                        (delete)="deleteSpell(spell)" (moveToEditor)="moveToEditor.emit()"></avr-spell-detail>
      <mat-card fxLayout="row" fxLayoutAlign="start center" class="new-spell-card">
        <span class="no-text-cursor">New...</span>
        <span class="toolbar-spacer"></span>
        <span>
            <button mat-icon-button matTooltip="Import from JSON" (click)="newFromJSON()">
              <mat-icon aria-label="Import from JSON">vertical_align_bottom</mat-icon>
            </button>
            <button mat-icon-button matTooltip="From existing spell" (click)="newFromSRD()">
              <mat-icon aria-label="From existing spell">scanner</mat-icon>
            </button>
            <button mat-icon-button (click)="newSpell()">
              <mat-icon aria-label="New">add</mat-icon>
            </button>
          </span>
      </mat-card>
    </mat-accordion>
  </div>

  <div class="spell-list" fxFlex="grow" *ngIf="!tome.spells.length">
    <mat-card>
      <p>Looks like this tome is empty.</p>
      <button mat-raised-button color="accent" (click)="newSpell()">Make an Spell</button>
    </mat-card>
  </div>

  <div class="spell-preview mat-typography mat-elevation-z3" fxFlex="grow">
    <avr-spell-embed [name]="selectedSpell?.name" [image]="selectedSpell?.image" [level]="selectedSpell?.level"
                     [school]="selectedSpell?.school" [classes]="selectedSpell?.classes"
                     [subclasses]="selectedSpell?.subclasses" [verbal]="selectedSpell?.components.verbal"
                     [somatic]="selectedSpell?.components.somatic" [material]="selectedSpell?.components.material"
                     [time]="selectedSpell?.time" [ritual]="selectedSpell?.ritual" [range]="selectedSpell?.range"
                     [concentration]="selectedSpell?.concentration" [duration]="selectedSpell?.duration"
                     [description]="selectedSpell?.description" [higherlevels]="selectedSpell?.higherlevels"
                     [user]="user"></avr-spell-embed>
  </div>
</div>
