@import "../_variables.scss";

.footer {
  height: $footer-height;
  background: $gray-dark1;
  text-align: center;
}

.footer-body {
  padding: 16px;
  z-index: 100;
  color: $gray-light1;
  margin: 0;
}
