<div class="background"></div>
<div class="container">
  <div class="content">
    <h1>Community Links</h1>
    <p>The following are related links submitted by the Avrae community!</p>
    <p>
      Please keep in mind that the Avrae developers are not responsible for the
      maintenance of these tools.
    </p>
    <p>
      If you wish to submit a link, simply edit the following document and
      create a pull request:
      <a
        href="https://github.com/avrae/.github/blob/master/community/community-links.md"
        target="_blank"
        >https://github.com/avrae/.github/blob/master/community/community-links.md</a
      >
    </p>
    <hr />
    <markdown [src]="url"></markdown>
  </div>
</div>
