.list-table {
  width: 100%;
}

.table-data-cell {
  width: 70%;
}

pre {
  white-space: pre-wrap;
  max-height: 200px;
  overflow-y: scroll;
}

@media only screen and (max-width: 840px) {
  pre {
    max-height: 100px;
  }
}