version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: "@angular/cli"
    versions:
    - 11.2.0
    - 11.2.1
    - 11.2.2
    - 11.2.3
    - 11.2.4
    - 11.2.5
    - 11.2.6
    - 11.2.7
    - 11.2.8
  - dependency-name: "@angular/language-service"
    versions:
    - 11.1.0
    - 11.1.1
    - 11.1.2
    - 11.2.0
    - 11.2.1
    - 11.2.3
    - 11.2.4
    - 11.2.5
    - 11.2.6
    - 11.2.7
    - 11.2.8
  - dependency-name: y18n
    versions:
    - 4.0.1
  - dependency-name: karma
    versions:
    - 6.1.1
    - 6.2.0
    - 6.3.1
  - dependency-name: "@types/node"
    versions:
    - 14.14.22
    - 14.14.25
    - 14.14.28
    - 14.14.31
    - 14.14.32
    - 14.14.34
    - 14.14.35
  - dependency-name: "@sentry/browser"
    versions:
    - 6.1.0
    - 6.2.0
    - 6.2.1
    - 6.2.2
    - 6.2.3
  - dependency-name: query-string
    versions:
    - 6.14.0
    - 6.14.1
  - dependency-name: core-js
    versions:
    - 3.8.3
  - dependency-name: "@types/jasmine"
    versions:
    - 3.6.3
  - dependency-name: codelyzer
    versions:
    - 6.0.1
  - dependency-name: ts-node
    versions:
    - 9.1.1
  - dependency-name: "@angular-devkit/build-angular"
    versions:
    - 0.1002.0
  - dependency-name: jasmine-spec-reporter
    versions:
    - 6.0.0
  - dependency-name: jasmine-core
    versions:
    - 3.6.0
  - dependency-name: karma-jasmine
    versions:
    - 4.0.1
