<h1 mat-dialog-title>Create New {{collectableType | titlecase}}</h1>
<div mat-dialog-content class="mat-typography">
  <p>
    First, give the new {{collectableType}} a name and a description. You'll be able to edit the code
    after it's created.
  </p>
  <p *ngIf="collection.publish_state === PublicationState.PUBLISHED && collectableType !== 'subalias'">
    Note: Since your collection is published, you <em>cannot delete</em> this {{collectableType}} once created.
  </p>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Documentation</mat-label>
    <textarea matInput [(ngModel)]="docs" mat-autosize></textarea>
  </mat-form-field>

  <p class="mat-error" *ngIf="error">
    {{error}}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="onCreate()" color="primary">Create</button>
  <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
</div>
