
.greetings {
  margin-top: 30px;
  margin-bottom: 30px;
}

.circular-greetings {
  position: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.nomargin {
  margin: 0;
}

.grid-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  bottom: 15px;
}

.dashboard-card mat-card {
  height: 95%;
}

.card-center {
  left: 5px;
  right: 5px;
}

.card-left {
  left: 0;
  right: 10px;
}

.card-right {
  right: 0;
  left: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.feature-header {
  font-size: 30px;
  font-weight: 300;
}

.muted {
  color: #aaa;
}

.feature-desc {
  font-size: 18px;
  font-weight: 300;
}

a {
  // color: #3489c7;
  // text-decoration: none;
}

.end {
  text-align: center;
  margin: 30px;
}

.circular-end {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  margin-bottom: 10px;
  background: transparent;
}

.end-card {
  width: 100%;
  height: 100%;
}

.end-h3 {
  margin: 8px;
}

.mat-card-image{
  max-width: 100%;
  margin-left: 0px;
  border-radius: 10px;
}