@use "../../../../../_variables.scss" as vars;
@use "../../_variables.scss" as tome-vars;

$new-spell-card-height: 48px;
$viewport-height: calc(
  100vh - #{vars.$navbar-height + vars.$footer-height +
    tome-vars.$tome-toolbar-height + tome-vars.$tome-tabs-height +
    (vars.$container-margin * 2)}
);

.container {
  margin: vars.$container-margin;
}

.spell-list {
  max-height: $viewport-height;
  overflow-y: auto;
}

.spell-preview {
  max-height: $viewport-height;
  overflow-y: auto;
}

.new-spell-card {
  height: $new-spell-card-height;
  padding: 0 24px;
  margin-top: 8px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
