<div *ngIf="spell" class="container">
  <mat-card>
    <p>Editing {{spell.name}}...</p>
    <p>You can find help on how to use the spell editor
      <a target="_blank" href="https://avrae.readthedocs.io/en/stable/automation_ref.html">here</a>.</p>
    <avr-automation-editor [automation]="getAutomation(spell)" [spell]="spell"
                           (changed)="changed.emit()"></avr-automation-editor>
  </mat-card>
</div>

<div *ngIf="!spell" class="container">
  <mat-card>
    <p>
      No spell selected.
    </p>
  </mat-card>
</div>
