@use '@angular/material' as mat;
@import '../../app-theme';
// Define the light theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-dark-theme($primary, $accent);
@include mat.all-component-themes($theme);
@include avr-app-theme($theme);
