.characterList {
  margin: 8px;
}

.avatarImg {
  position: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.smallmargin {
  margin-bottom: 16px;
}

.spacer-8px {
  margin: 8px;
}

.char-card {
  width: 100%;
  height: 100%;
}

.char-name {
  margin-top: 16px;
}

@media only screen and (max-width: 840px) {
  .char-image{
    display: none;
  }
  
  .mat-card-header .mat-card-title{
    font-size: 15px;
  }
}