<div class="characterList">
  <mat-card class="user-card" *ngIf="userInfo">
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile>
        <img [src]="userInfo.avatarUrl" class="avatarImg mat-elevation-z1">
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div>
          <h1 class="mat-display-2 smallmargin">
            {{userInfo.username}}<span class="mat-small">#{{userInfo.discriminator}}</span>
          </h1>
          <p class="mat-h3">
            Characters: {{userInfo.numCharacters}}<br>
            Customizations: {{userInfo.numCustomizations}}
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

  <div class="spacer-8px"></div>

  <mat-grid-list cols="4" gutterSize="8px" rowHeight="5:6">
    <mat-grid-tile *ngFor="let character of characters" class="mat-elevation-z3">
      <mat-card class="char-card">
        <mat-card-header>
          <mat-card-title class="char-name">
            {{character.stats.name}}
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="char-image" [src]="character.stats.image || '../../../assets/img/AvraeSquare.jpg'">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
