<mat-expansion-panel (opened)="opened.emit()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div>
        {{item.name}}
      </div>
    </mat-panel-title>
    <mat-panel-description markdown [data]="item.meta.split('\n')[0]">
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div class="form-container">
      <div fxLayout="row" fxLayoutGap="4px">
        <mat-form-field fxFlex>
          <input matInput placeholder="Name" (change)="emitChange()" [(ngModel)]="item.name">
        </mat-form-field>
        <mat-form-field fxFlex *ngIf="item.image != undefined">
          <input matInput placeholder="Image URL" (change)="emitChange()" [(ngModel)]="item.image">
        </mat-form-field>
      </div>
      <mat-form-field>
        <textarea matInput placeholder="Meta" rows="3" (change)="emitChange()" [(ngModel)]="item.meta"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" rows="7" (change)="emitChange()" [(ngModel)]="item.desc"></textarea>
      </mat-form-field>
    </div>
    <div class="actions" fxLayout="row">
      <span fxFlex *ngIf="item.image === undefined">
        <button mat-icon-button matTooltip="Add image" (click)="item.image=''; emitChange()">
          <mat-icon aria-label="Add image">add_photo_alternate</mat-icon>
        </button>
      </span>
      <span fxFlex>
        <button mat-icon-button matTooltip="Export to JSON" (click)="beginJSONExport()">
          <mat-icon aria-label="Export to JSON">vertical_align_top</mat-icon>
        </button>
      </span>
      <span fxFlex="grow"></span>
      <span fxFlex>
        <button mat-icon-button color="warn" (click)="delete.emit()">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </span>
    </div>
  </ng-template>
</mat-expansion-panel>
