@import "../_variables.scss";

.navbar-header {  // the mat-toolbar
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 8px 16px;
  height: $navbar-height;
  position: sticky;
  top: 0;
  z-index: 100;
}

.flex-spacer {
  flex: 1 1;
  //flex-grow: 1;
}

.logo-center { // mobile: center logo in middle of screen horizontally
  position: fixed;
  left: 50%;
  top: 5px;
  transform: translate(-50%, 0);
}

.more-arrow { // more (arrow)
  padding-bottom: 2px;
}

/* ==== mobile menu ==== */
.mobile-menu { // mobile menu overlay
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101; // even over the navbar!

  background: #182026;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.mobile-menu-header {
  padding: 8px 16px;
  height: $navbar-height;
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.mobile-menu-link {
  display: flex;
  align-items: flex-end;
  margin: 37px 42px;

  color: white;
  font-weight: bold;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 21px;
}

.mobile-menu-login {
  position: fixed;
  width: 100%;
  height: 65px;
  left: 0;
  right: 0;
  bottom: 0;

  color: white;
  font-weight: bold;
  letter-spacing: 0.06em;
  font-size: 18px;

  line-height: 65px;
  background: #7077E5;
  text-align: center;
}
