@import "../../_variables.scss";
@import "../../dashboard/homebrew/spells/_variables.scss";

.tome-toolbar {
  height: $tome-toolbar-height;
}

.flex-spacer {
  flex: 1 1 auto;
}

.spell-list {
  max-height: calc(100vh - #{$navbar-height + $footer-height + $tome-toolbar-height + ($container-margin*2)});
  overflow-y: auto;
}

.container {
  margin: $container-margin;
}

.spell {
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0 -16px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
