<div class="container">
  <mat-card>
    <mat-tab-group>
      <mat-tab label="Aliases">
        <avr-alias-list [data]="(customizations | async)?.aliases"></avr-alias-list>
      </mat-tab>
      <mat-tab label="Snippets">
        <avr-snippet-list [data]="(customizations | async)?.snippets"></avr-snippet-list>
      </mat-tab>
      <mat-tab label="Uvars">
        <avr-uvar-list [data]="(customizations | async)?.uvars"></avr-uvar-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
