<h2 mat-dialog-title>New Pack...</h2>
<mat-dialog-content class="mat-typography">
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="name">
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="public">Allow public to view</mat-slide-toggle>

    <mat-form-field>
      <input matInput placeholder="Image URL" [(ngModel)]="image">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="desc"></textarea>
    </mat-form-field>
  </div>
  <p class="mat-small">
    These settings can be changed at any time.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="{name: name, public: public, image: image, desc: desc}" [disabled]="!name">
    Create
  </button>
</mat-dialog-actions>
