@use "../_variables.scss" as tome-vars;

.tome-toolbar {
  height: tome-vars.$tome-toolbar-height;
}

mat-tab-header {
  height: tome-vars.$tome-tabs-height;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.no-text-cursor {
  cursor: default;
}
