<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    opened
    mode="side"
    class="sidenav mat-elevation-z3"
    fixedInViewport="true"
    fixedTopGap="64"
    fixedBottomGap="8"
    role="navigation">
    <mat-nav-list snScrollSpy id="sidenav">
      <a mat-list-item snScrollSpyItem for="sidenav" href="#{{module.name.toLowerCase()}}-spy"
         (click)="scrollTo(module.name.toLowerCase())"
         *ngFor="let module of modules">
        {{module.name}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <mat-card class="title" id="commands">
      <h1 class="mat-display-1 smallmargin">Command List</h1>
      <p>This page is a list of all commands, subcommands, and valid arguments that Avrae can parse.</p>
      <p>Avrae's command system is split into distinct modules. All commands are called by starting a message with the
        message prefix (default <kbd>!</kbd>, but can be configured), followed by the command name.</p>
    </mat-card>

    <mat-card class="container" *ngFor="let module of modules" id="{{module.name.toLowerCase()}}">
      <sn-scroll-spy-section id="{{module.name.toLowerCase()}}-spy" for="sidenav">
        <h2 class="mat-h2 smallmargin">{{module.name}}</h2>
        <markdown>{{module.desc}}</markdown>
        <mat-accordion>
          <avr-command-display *ngFor="let command of module.commands" [command]="command"></avr-command-display>
        </mat-accordion>
      </sn-scroll-spy-section>
    </mat-card>
  </div>
</mat-sidenav-container>
