<mat-card>
  <h1 class="mat-display-1 smallmargin">
    Cheatsheets
  </h1>
  <p class="mat-body">
    Need a quick and simple reference on how to use Avrae's commands, without having to dig though pages of
    documentation? This page is for you.
  </p>
</mat-card>

<div class="container">
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="8">
    <mat-grid-tile class="mat-elevation-z3" *ngFor="let cheatsheet of (cheatsheets | async)">
      <mat-card class="cheatsheet">
        <div class="container">
          <h1 class="mat-h1">
            {{cheatsheet.title}}
          </h1>
          <p class="mat-body">
            {{cheatsheet.desc}}
          </p>
          <a mat-stroked-button routerLink="/cheatsheets/{{cheatsheet.href}}" color="accent">View</a>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
