<mat-card>
  <h1 class="mat-display-1 smallmargin">
    Cheatsheets
  </h1>
  <p class="mat-body">
    Need a quick and simple reference on how to use Avrae's commands, without having to dig though pages of
    documentation? This page is for you.
  </p>
</mat-card>

<div class="container">
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="8">
    <mat-grid-tile class="mat-elevation-z3">
      <mat-card class="cheatsheet">
        <div class="container">
          <h1 class="mat-h1">
            Combat - DM
          </h1>
          <p class="mat-body">
            This cheatsheet details useful commands for a DM to run combat using the InitTracker module.
          </p>
          <a mat-stroked-button href="/cheatsheets/dm" color="accent">View</a>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="mat-elevation-z3">
      <mat-card class="cheatsheet">
        <div class="container">
          <h1 class="mat-h1">
            Combat - Player
          </h1>
          <p class="mat-body">
            This cheatsheet details useful commands for a player to play in a InitTracker combat.
          </p>
          <a mat-stroked-button href="/cheatsheets/player" color="accent">View</a>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="mat-elevation-z3">
      <mat-card class="cheatsheet">
        <div class="container">
          <h1 class="mat-h1">
            Customization
          </h1>
          <p class="mat-body">
            This cheatsheet details the basics of aliasing, using snippets, and using cvars to customize and streamline
            the usage of the base command system.
          </p>
          <a mat-stroked-button href="/cheatsheets/aliasing" color="accent">View</a>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
