<h2 mat-dialog-title>Editing Attacks: {{character.name}}</h2>

<mat-dialog-content class="mat-typography" *ngIf="allAttacks">
  <div>
    <p>
      Need help using the editor? Check out the docs
      <a href="https://avrae.readthedocs.io/en/stable/automation_ref.html" target="_blank"
         rel="noopener noreferrer">here</a>!
    </p>
  </div>

  <div fxLayout="row" class="auto-row">
    <mat-form-field>
      <mat-label>Select an attack</mat-label>
      <mat-select [(value)]="selectedAttack">
        <mat-option *ngFor="let attack of allAttacks" [value]="attack">
          {{attack.name}}
        </mat-option>
        <mat-option (click)="addAndSelectNewAttack()">New...</mat-option>
      </mat-select>
    </mat-form-field>

    <span>
      <span fxFlex>
        <button mat-icon-button matTooltip="Import YAML" (click)="beginYAMLImport()">
          <mat-icon aria-label="Import from YAML">vertical_align_bottom</mat-icon>
        </button>
      </span>
      <span fxFlex>
        <button mat-icon-button matTooltip="Copy SRD Monster Action" (click)="newFromSRD()">
          <mat-icon aria-label="Copy SRD Monster Action">scanner</mat-icon>
        </button>
      </span>
      <span fxFlex>
        <button mat-icon-button matTooltip="Export All to YAML" (click)="beginYAMLExport(allAttacks)">
          <mat-icon aria-label="Export All to YAML">vertical_align_top</mat-icon>
        </button>
      </span>
    </span>
    <span fxFlex="grow"></span>
  </div>

  <mat-divider class="beefy-divider"></mat-divider>

  <p *ngIf="!selectedAttack">Please select an attack.</p>

  <div *ngIf="selectedAttack">
    <!-- name, delete, export -->
    <div fxLayout="row" fxLayoutGap="4px" class="auto-row">
      <mat-form-field fxFlex="grow">
        <input matInput placeholder="Attack Name" [(ngModel)]="selectedAttack.name">
      </mat-form-field>
      <span>
        <span fxFlex>
          <button mat-icon-button color="warn" (click)="deleteAttack(selectedAttack)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
        <span fxFlex>
          <button mat-icon-button matTooltip="Export to YAML" (click)="beginYAMLExport(selectedAttack)">
            <mat-icon aria-label="Export to YAML">vertical_align_top</mat-icon>
          </button>
        </span>
      </span>
    </div>

    <span (click)="showAdvancedOptions = !showAdvancedOptions" class="toggle-advanced-options">
      Advanced Options
      <mat-icon>
        {{showAdvancedOptions ? 'expand_less' : 'expand_more'}}
      </mat-icon>
    </span>

    <div class="advanced-options" *ngIf="showAdvancedOptions">
      <!-- display options -->
      <mat-divider class="beefy-divider"></mat-divider>
      <h3>
        Display Options
      </h3>
      <div class="display-options-container">
      <span>
        Display: {{character.name}}
        <mat-form-field>
          <input matInput placeholder="attacks with" [(ngModel)]="verbWrapper">
        </mat-form-field>
        {{selectedAttack.proper ? selectedAttack.name : 'a ' + selectedAttack.name}}!
      </span>

        <mat-checkbox [(ngModel)]="selectedAttack.proper">Proper Noun</mat-checkbox>

        <mat-form-field>
          <input matInput placeholder="Thumbnail URL" [(ngModel)]="thumbWrapper"
                 matTooltip="The URL of an image that will display each time this attack is used.">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Flavor Text" [(ngModel)]="phraseWrapper"
                 matTooltip="Some text that will display each time this attack is used.">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Action Type</mat-label>
          <mat-select [(ngModel)]="activationTypeWrapper">
            <mat-option [value]="0">Attack</mat-option>
            <mat-option [value]="1">Action</mat-option>
            <mat-option [value]="2">No Action</mat-option>
            <mat-option [value]="3">Bonus Action</mat-option>
            <mat-option [value]="4">Reaction</mat-option>
            <mat-option [value]="6">Minute</mat-option>
            <mat-option [value]="7">Hour</mat-option>
            <mat-option [value]="8">Special</mat-option>
            <mat-option [value]="9">Legendary Action</mat-option>
            <mat-option [value]="10">Mythic Action</mat-option>
            <mat-option [value]="11">Lair Action</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- crit options -->
      <mat-divider class="beefy-divider"></mat-divider>
      <h3>
        Critical Hit Options
      </h3>
      <div class="crit-options-container auto-row">
        <mat-form-field>
          <input matInput placeholder="Criton" [(ngModel)]="critonWrapper" type="number" min="1" max="20"
                 matTooltip="The natural roll this attack will crit on.">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Extra Crit Damage" [(ngModel)]="extraCritDamageWrapper"
                 matTooltip="How much extra damage this attack does on a crit, beyond doubling dice.">
        </mat-form-field>
      </div>
    </div>

    <!-- automation editor -->
    <mat-divider class="beefy-divider"></mat-divider>
    <h3>
      Automation
    </h3>
    <avr-automation-editor [automation]="selectedAttack.automation"></avr-automation-editor>
  </div>

  <p *ngIf="errorValue" class="error-text">
    {{errorValue}}
  </p>
</mat-dialog-content>

<!-- Loading Spinner -->
<mat-dialog-content class="mat-typography" *ngIf="!allAttacks">
  <mat-spinner [diameter]="24"></mat-spinner>
  <p>
    Loading attacks...
  </p>
</mat-dialog-content>

<!-- Buttons -->
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
  <span>
    <button mat-flat-button (click)="save()" [disabled]="saveButtonDisabled"
            color="primary">{{saveButtonValue}}</button>
    <button mat-flat-button (click)="saveAndExit()" [disabled]="saveButtonDisabled"
            color="primary">{{saveAndExitButtonValue}}</button>
  </span>
</mat-dialog-actions>
