@use '@angular/material' as mat;
@import '../../app-theme';
@import '../../highlightjs/material-dark';
// Define the dark theme.
$primary: mat.define-palette(mat.$purple-palette);
$accent:  mat.define-palette(mat.$green-palette, A200, A100, A400);

$theme: mat.define-dark-theme($primary, $accent);
@include mat.all-component-themes($theme);
@include avr-app-theme($theme);
