@use '~@angular/material' as mat;
@import '../../app-theme';
@import '../../highlightjs/material-dark';
@import '../../colors';
// Define the dark theme.
$primary: mat.define-palette($avr-red);
$accent:  mat.define-palette($avr-purple, A100, A100, A100);

$theme: mat.define-dark-theme($primary, $accent);
@include mat.all-component-themes($theme);
@include avr-app-theme($theme);
