.hidden {
  visibility: hidden;
}

.wide {
  width: 100%;
}

.text-monospace {
  font-family: "Source Code Pro", monospace;
}

::ng-deep .adv-tooltip {
  white-space:  pre-line !important;
}

@media (max-width: 700px) {
  .auto-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .auto-row span, .auto-row mat-form-field {
    width: 100%;
    justify-content: space-around;
  }

  .auto-row span, .auto-row span span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 8px 24px 16px;
  }
}
