<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    opened
    mode="side"
    class="sidenav mat-elevation-z3"
    fixedInViewport="true"
    fixedTopGap="64"
    fixedBottomGap="8">
    <mat-list>
      <mat-list-item>
        <button mat-button class="nav-button">Commands</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card class="title">
      <h1 class="mat-display-1 smallmargin">Command List</h1>
      <p>This page is a list of all commands, subcommands, and valid arguments that Avrae can parse.</p>
      <p>Avrae's command system is split into distinct modules. All commands are called by starting a message with the
        message prefix (default <kbd>!</kbd>, but can be configured), followed by the command name.</p>
      <p class="mat-small">This list is current as of Build 845. An updated version is always provided in
        <kbd>!help</kbd>.</p>
    </mat-card>

    <mat-card class="container" *ngFor="let module of modules">

      <h2 class="mat-h2 smallmargin">{{module.name}}</h2>
      <p>{{module.desc}}</p>
      <avr-command-list [commands]="module.commands"></avr-command-list>

    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
