$navbar-height: 56px;
$footer-height: 56px;
$container-margin: 8px;

// colors
$black: #10161a;
$gray-dark1: #182026;
$gray-light1: #ced9e0;
$gray2: #738694;
$gray4: #A7B6C2;
$blurple: #7077e5;

// fonts
$font: Roboto, sans-serif;
