@import "variables";

/* Application-wide Styles */
.spacer {
  height: 56px;
}

.page-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.page-wrapper-mobile {
  margin-left: 5px;
  margin-right: 5px;
}

.content {
  min-height: calc(100vh - (#{$navbar-height} + #{$footer-height}));
}
