<mat-toolbar class="navbar-header mat-elevation-z4" color="primary">
  <a mat-button class="button" routerLink="/" aria-label="Avrae Home">
    <img src="/src/assets/img/AvraeSquare.jpg" class="home-img mat-elevation-z1">
  </a>
  <a mat-button class="button" routerLink="/commands">Commands</a>
  <a mat-button class="button" routerLink="/cheatsheets">Cheatsheets</a>
  <button mat-button [matMenuTriggerFor]="appMenu">
    More
  </button>
  <div class="flex-spacer"></div>
  <avr-theme-picker></avr-theme-picker>
  <a mat-button class="button" routerLink="/dashboard">Dashboard</a>
</mat-toolbar>

<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
  <a mat-menu-item class="button" href="http://invite.avrae.io">Invite Link</a>
  <a mat-menu-item class="button" href="http://support.avrae.io">Support Server</a>
  <a mat-menu-item class="button" href="http://donate.avrae.io">Donate</a>
</mat-menu>
