.navbar-container {
  margin-left: 30px;
  margin-right: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 8px 16px;
  height: 56px;
}

.avrae-icon {
  margin-left: 20px;
  margin-right: 25px;
}

.flex-spacer {
  flex: 1 1;
  //flex-grow: 1;
}

.navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.home-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
