<div class="tile mat-elevation-z3 ignore-theme">
  <!-- image/initials -->
  <div class="collection-image-container">
    <div class="collection-name-underlay mat-typography collection-image">
      <p *ngIf="!collection.image">
        {{getInitials(collection.name)}}
      </p>
    </div>
    <img class="collection-image" [src]="collection.image" [alt]="'Image for ' + collection.name"
         *ngIf="collection.image">
  </div>

  <div class="collection-meta mat-typography">
    <mat-divider></mat-divider>
    <h2>
      {{collection.name}}
    </h2>
    <div class="collection-author">
      <img class="collection-author-avatar" [src]="author.avatarUrl" alt="avatar">
      <span class="collection-author-username">by {{author.username}}</span>
    </div>

    <mat-chip-list aria-label="Fish selection" class="collection-tags" *ngIf="tags?.length && collection.tags.length">
      <mat-chip *ngFor="let tag of collection.tags">{{tagNameFromSlug(tag)}}</mat-chip>
    </mat-chip-list>

    <div class="collection-numbers-grid">
      <span class="numbers-alias">
        {{collection.alias_ids.length}} {{collection.alias_ids.length === 1 ? 'alias' : 'aliases'}}
      </span>
      <span class="numbers-snippet">
        {{collection.snippet_ids.length}} {{collection.snippet_ids.length === 1 ? 'snippet' : 'snippets'}}
      </span>

      <div class="numbers-subscriptions-number">
        {{getNumberString(collection.num_subscribers + collection.num_guild_subscribers)}}
      </div>
      <div class="numbers-subscriptions-icon">
        <mat-icon>get_app</mat-icon>
      </div>
    </div>
  </div>

  <!--  <div class="collection-hover-overlay mat-typography">-->
  <!--    this is the overlay-->
  <!--  </div>-->
</div>


