<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div>
          <code>Command Syntax</code>
          <p class="mat-small nomargin">Has subcommands.</p>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        Short Command Description
      </mat-panel-description>
    </mat-expansion-panel-header>
    Long Command Description
    <table>
      <tr>
        <th>Arguments</th>
      </tr>
      <tr>
        <td><code>Name</code> - Description</td>
      </tr>
    </table>
    <div class="subcommands">
      <h4 class="mat-h4 smallmargin"><b>Subcommands</b></h4>
      <!-- RECURSIVE! <avr-command-list></avr-command-list> -->
    </div>
  </mat-expansion-panel>
</mat-accordion>
