<div class="container">
  <mat-card>
    <h1>Automation Editor Dev</h1>
    <p>do the editing, saves to localstorage</p>

    <mat-divider></mat-divider>

    <avr-automation-editor [automation]="localSavedAutomation"
                           (changed)="saveLocalAutomation()"></avr-automation-editor>

    <button mat-flat-button color="warn" (click)="clearLocalAutomation()">Clear</button>
    <button mat-flat-button (click)="beginJSONImport()" color="primary">Import</button>
    <button mat-flat-button (click)="beginJSONExport(localSavedAutomation)" color="primary">Export</button>

    <h3>YAML</h3>
    <pre class="text-monospace" [innerHTML]="getLocalAutomationYaml()"></pre>
  </mat-card>
</div>


