<mat-card *ngIf="loggedIn()">
  <mat-card-content>
    Welcome to the redirect page! I don't know how you ended up here, but...
  </mat-card-content>
  <a mat-raised-button color="primary" routerLink="/dashboard">Dashboard</a>
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</mat-card>
<mat-card *ngIf="!loggedIn()">
  <mat-card-content>
    You must be logged in to use this app.
  </mat-card-content>
  <a mat-raised-button color="primary" [href]="getLoginLink()">Login with Discord</a>
</mat-card>
