<table mat-table [dataSource]="sortedGvars(data)" class="list-table">
  
  <ng-container matColumnDef="name" sticky>
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let gvar">{{gvar.key}}</td>
    <td mat-footer-cell *matFooterCellDef>{{owned ? "Create New" : ""}}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef class="table-data-cell">Value</th>
    <td mat-cell *matCellDef="let gvar">
      <pre>{{gvar.value}}</pre>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="buttons" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let gvar">
      <button mat-icon-button (click)="beginEdit(gvar)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="confirmDelete(gvar)" *ngIf="owned">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef>
      <button mat-icon-button (click)="beginNew()" *ngIf="owned">
        <mat-icon aria-label="New">launch</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
  <div *ngIf="owned">
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
  </div>
</table>
