.list-table {
  width: 100%;
}

.table-data-cell {
  width: 55%;
}

pre {
  white-space: pre-wrap;
  max-height: 200px;
  overflow-y: auto;
}

@media only screen and (max-width: 840px) {
  pre {
    max-height: 100px;
  }
}

td {
  vertical-align: top;
  padding: 3px;
}

tr:nth-child(even) {
  background: #545454;
}

.mat-mdc-tab-body-content {
  max-width: 968px;
}

td.mat-mdc-cell,
td.mat-mdc-footer-cell,
th.mat-mdc-header-cell {
  max-width: 400px;
}

th {
  min-width: 100px;
}

.scripting-col {
  text-align: center;
  vertical-align: middle;
}
