.characterList {
  margin: 8px;
}

.avatarImg {
  position: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.smallmargin {
  margin-bottom: 16px;
}

.spacer-8px {
  margin: 8px;
}

.character-tile {
  border-radius: 10px;
}

.ignore-theme {
  color: #fff;
}

/* styles for overlay text */
.character-text {
  margin: 1em;
}

.character-text h3 {
  margin-bottom: 0;
}

.character-text p {
  margin-bottom: 4px;
  word-wrap: break-word;
  overflow: scroll;
}

/* styles for underlay text */
.character-name-underlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #424242;
  z-index: -1;
}

.character-name-underlay p {
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: xx-large;
}


/* <i> for compendiums, effects on hover */
.character-tile .character-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.character-tile:hover .character-image {
  webkit-filter: blur(3px) brightness(0.7); /* Chrome, Safari, Opera */
  filter: blur(3px) brightness(0.7);
  transform: scale(1.05);
}

/* compendium meta overlay */
.character-meta {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.character-meta:hover {
  opacity: 1;
}
