.characterList {
  margin: 8px;
}

.avatarImg {
  position: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.smallmargin {
  margin-bottom: 16px;
}

.spacer-8px {
  margin: 8px;
}

.character-tile {
  border-radius: 10px;
}

.ignore-theme {
  color: #fff;
}

/* styles for overlay text */
.character-text {
  margin: 1em 1em 0;
  height: calc(100% - (3em + 40px));
  word-wrap: break-word;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.character-text::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.character-text h3 {
  margin-bottom: 0;
}

/* styles for overlay buttons */
.character-actions {
  margin: 1em;
  height: 40px; /* icon button height */
}

/* styles for underlay text */
.character-name-underlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #424242;
  z-index: -1;
}

.character-name-underlay p {
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: xx-large;
}


/* <i> for compendiums, effects on hover */
.character-tile .character-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.character-tile:hover .character-image {
  -webkit-filter: blur(3px) brightness(0.7); /* Chrome, Safari, Opera */
  filter: blur(3px) brightness(0.7);
  transform: scale(1.05);
}

/* compendium meta overlay */
.character-meta {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.character-meta:hover {
  opacity: 1;
}


@media (max-width: 960px) {
  ::ng-deep .automation-overlay {
    max-width: 95vw !important;
    width: 95% !important;
  }

  .character-meta {
    opacity: 1;
  }

  .character-tile .character-image {
    -webkit-filter: blur(3px) brightness(0.6); /* Chrome, Safari, Opera */
    filter: blur(3px) brightness(0.6);
    transform: scale(1.05);
  }

  .character-meta .mat-typography p {
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  avr-attack-editor-dialog mat-dialog-content div {
    flex-wrap: wrap;
  }

  .mat-typography.ignore-theme.character-actions {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
  .avatarImg {
    width: 40%;
  }
}
