@import "../../../../_variables.scss";
@import "../_variables.scss";

$viewport-height: calc(100vh - #{$navbar-height + $footer-height + $pack-toolbar-height + ($container-margin*2)});

.pack-toolbar {
  height: $pack-toolbar-height;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.item-list {
  max-height: $viewport-height;
  overflow-y: auto;
}

.item-preview {
  max-height: $viewport-height;
  overflow-y: auto;
}

.container {
  margin: $container-margin;
}

.new-item-card {
  height: 48px;
  padding: 0 24px;
}

.no-text-cursor {
  cursor: default;
}
