@import "../../../../variables";

mat-form-field {
  margin-bottom: 8px;
}

.section {
  margin: 8px 0;
}

.code-versions-container {
  display: grid;
  grid-template-columns: 1fr auto;
  background: $gray-dark1;
  border-radius: 4px;

  .no-code-version {
    padding: 8px;
  }
}

.code-editor {
  min-height: 35vh;
  max-height: 55vh;
}

.monaco-editor-container {
  height: 55vh;

  ngx-monaco-editor {
    height: calc(100% / 0.98);  // the inner container has a height of 98% for some reason, and isn't stylable <.<
  }
}

.code-versions-list {
  border-left: 1px solid rgba($gray2, 0.3);

  mat-action-list {
    margin-top: -8px; // undo a forced angular theme
  }
}

.spaced-button {
  margin: 8px 0;
}

.active {
  background: rgba(white, 0.05);
}
