@import '../node_modules/@angular/material/theming';

// Styles for the docs app that are based on the current theme.
@mixin avr-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .avr-app-background {
    background: mat-color($background, background);
  }

  .avr-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  a {
    color: mat-color($accent);
    text-decoration: none;
    font-weight: 300;
    transition: background-color .5s ease-in-out;
  }

  a.active {
    background-color: mat-color($foreground, base, 0.04);
  }

  .avr-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  kbd {
    color: mat-color($accent, default-contrast);
    background: mat-color($accent);
    border-radius: 2px;
  }

  .muted {
    color: mat-color($foreground, base, 0.62);
  }
  
  .hoverable {
    cursor: pointer;
  }

  .hoverable:hover {
    background-color: mat-color($foreground, base, 0.04);
  }

  body.avr-app-background {
        max-width: 77em;
        margin: auto
  }

  td {
      vertical-align: top;
      padding: 3px;
  }

  tr:nth-child(even) {
      background: rgba(204, 204, 204, .15);
  }


  .mat-tab-body-content {
          max-width: 968px;
  }

  td.mat-cell, td.mat-footer-ce   ll, th.mat-header-cell {
      max-width: 400px;
  }


  th {
      min-width: 120px;
  }

}
