<!-- Side Menu Floating Button -->
<button mat-icon-button
        *ngIf="(small || mobile) && !sidenav.opened"
        (click)="sidenav.toggle()"
        class="small-menu-button mat-fab"
        color="accent">
  <mat-icon>double_arrow</mat-icon>
</button>

<mat-sidenav-container class="sidenav-container"
                       [ngClass]="{'side-menu-open': !sidenav.opened}">

  <mat-sidenav
    #sidenav
    [(opened)]="medium"
    [mode]="small || mobile ? 'over' : 'side'"
    class="sidenav mat-elevation-z3"
    fixedTopGap="56px">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['characters']">Characters</a>

      <mat-expansion-panel expanded class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-panel">
            Alias Workshop
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="nav-panel-body">
          <a mat-list-item routerLink="/dashboard/workshop">Explore</a>
          <a mat-list-item routerLink="/dashboard/workshop/my-subscriptions">My Subscriptions</a>
          <a mat-list-item routerLink="/dashboard/workshop/my-work">My Work</a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-panel">
            Customization
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="nav-panel-body">
          <a mat-list-item [routerLink]="['aliases']">My Customizations</a>
          <a mat-list-item [routerLink]="['gvars']">Global Variables</a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-panel">
            Homebrew
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="nav-panel-body">
          <a mat-list-item routerLink="/dashboard/homebrew/items">Items</a>
          <a mat-list-item routerLink="/dashboard/homebrew/spells">Spells</a>
          <a mat-list-item href="https://critterdb.com/#/index" target="_blank" rel="noopener noreferrer">Creatures
            <mat-icon class="icon-in-panel">launch</mat-icon>
          </a>
        </div>
      </mat-expansion-panel>

      <div class="spacer"></div>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
