@import "../variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.spacer {
  height: 32px;
}

mat-expansion-panel-header {
  transition: background-color .5s ease-in-out;
  padding-left: 16px;
}

mat-sidenav-content {
  // duplicated from app theme to ensure sidenav covers entire page
  min-height: calc(100vh - (#{$navbar-height} + #{$footer-height}));
}

.nav-panel {
  text-decoration: none;
  font-weight: 300;
}

.nav-panel-body {
  margin: 0 -24px -16px;
}

.nav-panel-body > a {
  padding: 0 24px;
  height: 36px;
  font-size: 90%;
}

.icon-in-panel {
  font-size: 16px;
  height: 16px;
  padding-left: 4px;
}

::ng-deep .small-menu-button > span { 
  padding: 0 !important;
}

.small-menu-button {
  position: sticky;
  top: 100px;
  left: 17px;
  z-index: 5;
}

.side-menu-open {
  margin-top: -40px;
}
