<h2 mat-dialog-title>Creating spell from SRD...</h2>
<mat-dialog-content class="mat-typography" *ngIf="templateSpells">
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Search..." [(ngModel)]="search" (keyup)="filterSpells()">
    </mat-form-field>
  </div>
  <div class="results" *ngIf="filteredTemplateSpells?.length">
    <mat-list>
      <mat-list-item *ngFor="let spell of filteredTemplateSpells" class="hoverable"
                     (click)="select(spell)">
        {{spell.name}}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="results" *ngIf="!filteredTemplateSpells?.length">
    No results found.
  </div>
</mat-dialog-content>

<mat-dialog-content class="mat-typography" *ngIf="!templateSpells">
  <mat-spinner [diameter]="24"></mat-spinner>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
