@import "../../../variables";

.collectable-container {
  mat-divider {
    margin: 12px 0;
    border-top-color: $gray2;
  }

  color: white;
  font-size: 16px;
}

.create-new {
  display: grid;
  grid-template-columns: 1fr auto;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 960px) {
  ::ng-deep .collectable-overlay {
    max-width: 95vw !important;
    width: 95% !important;
  }
}
