.landing-page {
  background: #10161A;
  font-family: Roboto sans-serif;
  text-align: center;
  color: white;
}

// mobile default
.ddb-logo {
  margin: 37px 0 6px;
  width: 90px;
}

.avrae-logo {
  margin: 6px 0 21px;
  width: 177px;
}

.about-avrae {
  margin: 0 29px 39px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
}

.intro-video {
  width: 262px;
  height: 147px;
}

@media only screen and (min-width: 768px) { // desktop
  .ddb-logo {
    margin: 67px 0 12px;
    width: 15%;
  }

  .avrae-logo {
    margin: 12px 0 24px;
    width: 40%;
  }

  .about-avrae {
    width: 55%;
    margin: 0 auto 45px;
    font-size: 22px;
  }

  .intro-video {
    width: 50%;
    height: 28vw;
  }
}

.grid-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  bottom: 15px;
}

.dashboard-card mat-card {
  height: 95%;
  // background: #182026;
}

.card-center {
  left: 5px;
  right: 5px;
}

.card-left {
  left: 0;
  right: 10px;
}

.card-right {
  right: 0;
  left: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.feature-header {
  font-size: 30px;
  font-weight: 300;
}

.muted {
  color: #aaa;
}

.feature-desc {
  font-size: 18px;
  font-weight: 300;
}

a {
  // color: #3489c7;
  // text-decoration: none;
}

.end {
  text-align: center;
  margin: 30px 30px 0;
}

.circular-end {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  margin-bottom: 10px;
  background: transparent;
}

.end-card {
  width: 100%;
  height: 100%;
  // background: #182026;
}

.end-h3 {
  margin: 8px;
}

.mat-card-image {
  max-width: 100%;
  margin-left: 0px;
  border-radius: 10px;
}
