<div class="landing-page">
  <div>
    <img class="ddb-logo" src="../../assets/img/DDBLogo.svg" alt="D&D Beyond Logo"/>
  </div>
  <div>
    <img class="avrae-logo" src="../../assets/img/LogoFlat.svg" alt="Avrae Logo"/>
  </div>

  <p class="mat-typography about-avrae">
    I am <b><i>Avrae</i></b>, a <b>Discord bot</b> designed to help you and your friends play D&D online.
  </p>

  <div>
    <iframe class="intro-video" src="https://www.youtube.com/embed/exm4p2HFLXc" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>

  <div class="grid-container">
    <mat-grid-list [cols]="getColCount()" rowHeight="900px">
      <mat-grid-tile>
        <div [class]="mobile ? 'dashboard-card' : 'dashboard-card card-left'">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h2 class="feature-header mat-h2">
                  Advanced Dice Roller.
                  <span class="muted">Need to reroll dice? Drop them? Pick them back up? Have them explode?</span>
                </h2>
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/dicedemo.png" alt="Avrae Dice Roller"/>
            <mat-card-content class="dashboard-card-content">
              <p class="feature-desc mat-body">
                With a custom dice parser, Avrae is one of the most advanced dice rollers on Discord, capable of
                supporting
                pretty much every type of roll needed to play D&D. Advantage, disadvantage, and crits are built in, you
                can
                keep, drop, or reroll dice as needed, dice can explode, and dice can be bounded.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div [class]="mobile ? 'dashboard-card' : 'dashboard-card card-center'">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h2 class="feature-header mat-h2">
                  Character Sheet Integration.
                  <span class="muted">You'll never have to memorize a modifier again.</span>
                </h2>
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/integration.png" alt="Avrae Character Sheet Integration"/>
            <mat-card-content class="dashboard-card-content">
              <p class="feature-desc mat-body">
                Avrae can read character sheets from
                <a target="_blank" href="https://www.dndbeyond.com/" rel="noopener noreferrer">D&amp;D Beyond</a>,
                <a target="_blank" href="https://dicecloud.com/" rel="noopener noreferrer">Dicecloud</a>, or
                <a target="_blank" href="http://gsheet2.avrae.io" rel="noopener noreferrer">a Google Sheet</a>,
                automatically
                generating macros to roll attacks, ability checks, and saving throws. A player can then simply use a
                command to make a check, save, attack, or cast, and all necessary rolls will be resolved automatically.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div [class]="mobile ? 'dashboard-card' : 'dashboard-card card-right'">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h2 class="feature-header mat-h2">
                  Initiative Tracking.
                  <span class="muted">How long left on my spell? How injured is the dragon?</span>
                </h2>
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/initdemo.png" alt="Avrae Initiative Tracker"/>
            <mat-card-content class="dashboard-card-content">
              <p class="feature-desc mat-body">
                The initiative tracker is a fast way to track combat in a text channel. It supports automatic combatant
                sorting, HP, AC, resistance, and status effect tracking, and integration with the character sheet
                manager
                and 5e SRD to further streamline combat.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-divider></mat-divider>

  <div class="end">
    <mat-grid-list cols="2" rowHeight="200px" gutterSize="15px">
      <mat-grid-tile class="mat-elevation-z3">
        <mat-card class="end-card">
          <div>
            <h3 class="mat-h3 end-h3">Invite</h3>
            <p class="mat-body">You can invite Avrae to your server here! Just select your server in the dropdown menu,
              and
              ensure that "Read Messages", "Send Messages", "Embed Links", and "Manage Messages" are enabled!</p>
            <a mat-stroked-button color="primary" href="http://invite.avrae.io/">Invite</a>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z3">
        <mat-card class="end-card">
          <div>
            <h3 class="mat-h3 end-h3">Support</h3>
            <p class="mat-body">Join the official support server here!</p>
            <a mat-stroked-button color="primary" href="http://support.avrae.io/">Support</a>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
