@import "../_variables.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $black;
  z-index: -999; // hacky way to override app background color for now
}

.landing-page {
  background: $black;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: white;
}

// mobile default
.ddb-logo {
  margin: 37px 0 6px;
  width: 90px;
}

.avrae-logo {
  margin: 6px 0 21px;
  width: 177px;
}

.about-avrae {
  margin: 0 29px 39px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
}

.intro-video {
  width: 262px;
  height: 147px;
}

.cta-connect-avrae {
  text-align: center;

  h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }

  p {
    font-size: 18px;
    line-height: 140%;
  }

  a {
    margin: 0 auto;
    width: 138px;
    height: 32px;
    background: $blurple;
  }
}

.cta-small {
  margin: 40px 28px 36px;
}

.cta-large {
  background: $gray-dark1;
  margin: 40px 0 36px;
  padding: 21px 305px;
}

@media only screen and (min-width: 768px) { // desktop
  .ddb-logo {
    margin: 67px 0 12px;
    width: 15%;
  }

  .avrae-logo {
    margin: 12px 0 24px;
    width: 40%;
  }

  .about-avrae {
    width: 55%;
    margin: 0 auto 45px;
    font-size: 22px;
  }

  .intro-video {
    width: 536px;
    height: 291px;
  }

  .cta-small {
    margin: 40px 116px 36px;
  }
}
